<!-- app/views/home/index.html.erb -->
<h1>Welcome to Our Resorts</h1>

<h2>Our Resorts:</h2>
<% @resorts.each do |resort| %>
  <div>
    <h2><%= link_to resort.title, hotel_path(resort) %></h2>
    <p>Hotel Location: <%= resort.location %></p>
    <p>Hotel Description: <%= resort.description %></p>
    <% resort.resting_places.each do |resting_place| %>
      <h3>Room number: <%= resting_place.room_number %></h3>
      <p><i>Room Description: <%= resting_place.room_description %></i></p>
      <p><i>Bed capacity: <%= resting_place.bed_count %></i></p>
      <b>Price per night: <%= resting_place.price_per_night %></b>
    <% end %>
  </div>
<% end %>

<h2>Contact Us</h2>
<%= form_with model: @contact, url: contacts_path, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>
  <%= form.submit 'Send' %>
<% end %>
