<div class='container'>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1>Welcome to Our Resorts</h1>
    </div>
    <div class="col-12 d-flex justify-content-end align-items-center mb-3">
      <%= link_to 'Add New Resort', new_resort_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="row">
    <% @resorts.each do |resort| %>
      <div class="col-12 col-md-6 d-flex">
        <div class="card flex-grow-1" style="padding: 10px;">
          <div id="carouselExampleControls<%= resort.id %>" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% if resort.images.attached? %>
                <% resort.images.each_with_index do |image, index| %>
                  <div class="carousel-item <%= 'active' if index.zero? %>">
                    <%= image_tag image, class: 'd-block w-100 carousel-image', alt: 'Resort image' if image.blob.present? %>
                  </div>
                <% end %>
              <% else %>
                <div class="carousel-item active">
                  <%= image_tag "https://placehold.co/600x400/EEE/31343C?font=playfair-display&text=Resort", class: 'd-block w-100 carousel-image', alt: 'Placeholder image' %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%= resort.id %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%= resort.id %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-body text-center">
            <div class="beautiful-text">
              <%= resort.title %>
            </div>
            <h2><%= link_to 'Edit', edit_resort_path(resort), class: "btn btn-primary mt-2" %></h2>
            <h5>Hotel Location: <%= resort.location %></h5>
            <h5>Hotel Description: <%= resort.description %></h5>
            <div class="d-flex justify-content-center mt-3 d-md-none">
              <!-- Show/Hide button for mobile only -->
              <button class="btn btn-orange show-hide-rooms" type="button" data-bs-toggle="collapse" data-bs-target="#restingPlaces<%= resort.id %>" aria-expanded="false" aria-controls="restingPlaces<%= resort.id %>">
                Show rooms
              </button>
            </div>
          </div>
          <div id="restingPlaces<%= resort.id %>" class="collapse d-md-block">
            <% resort.resting_places.limit(3).each do |resting_place| %>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h3>Room number: <%= resting_place.room_number %></h3>
                  <p><i>Room Description: <%= resting_place.room_description %></i></p>
                  <p><i>Bed capacity: <%= resting_place.bed_count %></i></p>
                  <b>Price per night: <%= resting_place.price_per_night %>$ <span class="badge bg-danger">SALE</span></b>
                </li>
              </ul>
            <% end %>
            <!-- View more button -->
            <div class="text-center mt-2">
              <a href="<%= resort_path(resort) %>" class="btn btn-primary view-more">View more</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-3">
      <div class='pagination-filter'>
        <%= paginate @resorts, theme: 'bootstrap-5',
                   pagination_class: "pagination-sm flex-wrap justify-content-center",
                   nav_class: "d-inline-block" %>
      </div>
    </div>
  </div>
</div>

<style>
  .btn-orange {
    background-color: #ffa500;
    color: white;
  }
  .btn-orange:hover {
    background-color: #e69500;
    color: white;
  }
  .beautiful-text {
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    color: #FFA500; /* Оранжевый цвет */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
  }
  .view-more {
    display: block;
    width: calc(100% - 20px); /* Полная ширина карточки минус отступы */
    margin: 0 auto; /* Центрирование */
    border-radius: 20px; /* Закругленные углы */
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const showHideButtons = document.querySelectorAll(".show-hide-rooms");

    showHideButtons.forEach(button => {
      button.addEventListener("click", function() {
        const collapse = document.querySelector(this.dataset.bsTarget);
        const viewMoreButton = collapse.querySelector(".view-more");

        // Check if the collapse is currently shown
        if (collapse.classList.contains("show")) {
          this.textContent = "Show rooms"; // Change button text to "Show rooms" when collapse is hidden
          viewMoreButton.classList.add("d-none"); // Hide view more button
        } else {
          this.textContent = "Hide rooms"; // Change button text to "Hide rooms" when collapse is shown
          viewMoreButton.classList.remove("d-none"); // Show view more button
        }
      });

      // Initial state of the button (needed when collapse is manually opened/closed by Bootstrap)
      const collapse = document.querySelector(button.dataset.bsTarget);
      collapse.addEventListener('show.bs.collapse', function () {
        button.textContent = "Hide rooms"; // Set button text to "Hide rooms" on collapse show
        const viewMoreButton = collapse.querySelector(".view-more");
        viewMoreButton.classList.remove("d-none"); // Show view more button on collapse show
      });

      collapse.addEventListener('hide.bs.collapse', function () {
        button.textContent = "Show rooms"; // Set button text to "Show rooms" on collapse hide
        const viewMoreButton = collapse.querySelector(".view-more");
        viewMoreButton.classList.add("d-none"); // Hide view more button on collapse hide
      });
    });
  });
</script>
