<div class="container mt-5 mb-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white text-center">
          <h2 data-bs-toggle="collapse" data-bs-target="#booking-enquiry-form" style="cursor: pointer;">Booking Enquiry(Tap to open/close form)🤏</h2>
        </div>
        <div id="booking-enquiry-form" class="collapse show">
          <div class="card-body">
            <%= form_with model: @booking_enquiry, url: resort_resting_place_booking_enquiries_path(@resort, @resting_place), method: :post do |form| %>
              <%= form.hidden_field :resting_place_id, value: @booking_enquiry.resting_place.id %>
              <div class="mb-3">
                <%= form.label :name, "Your Name", class: "col-form-label" %>
                <%= form.text_field :name, required: true, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= form.label :email, "Email", class: "col-form-label" %>
                <%= form.email_field :email, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= form.label :phone_number, "Phone Number", class: "col-form-label" %>
                <%= form.telephone_field :phone_number, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= form.label :check_in_date, "Check-In Date", class: "col-form-label" %>
                <%= form.date_field :check_in_date, required: true, class: "form-control", id: "check-in-date" %>
              </div>
              <div class="mb-3">
                <%= form.label :check_out_date, "Check-Out Date", class: "col-form-label" %>
                <%= form.date_field :check_out_date, required: true, class: "form-control", id: "check-out-date" %>
              </div>
              <div class="mb-3">
                <%= form.label :additional_information, "Additional information", class: "col-form-label" %>
                <%= form.text_area :additional_information, class: "form-control" %>
              </div>
              <div class="d-grid gap-2">
                <%= form.submit "Submit", class: "btn btn-primary", id: "submit-button" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>