
 <h2><%= @resort.title %></h2>
 <p>Hotel Location: <%= @resort.location %></p>
 <p>Hotel Description: <%= @resort.description %></p>
 
   <h3 style="margin-left: 10px">Room number: <%= @resting_place.room_number %></h3>
   <p style="margin-left: 20px"><i>Room Description: <%= @resting_place.room_description %></i></p>
   <p style="margin-left: 20px"><i>Bed capacity: <%= @resting_place.bed_count %></i></p>
   <b style="margin-left: 20px">Price per night: <%= @resting_place.price_per_night %>$</b>


