<!DOCTYPE html>
<html>
<head>
  <title>Resort Details</title>
</head>
<body>
  <div class="container mt-5">
    <div class="row mb-4">
      <div class="col-md-8">
        <h2><%= @resort.title %></h2>
        <p><strong>Hotel Location:</strong> <%= @resort.location %></p>
        <p><strong>Hotel Description:</strong> <%= @resort.description %></p>
      </div>
      <div class="col-md-4">
        <img src="https://amiel.club/uploads/posts/2022-09/1664556787_3-amiel-club-p-komnata-v-gostinitse-vkontakte-3.jpg" class="img-fluid" alt="Resort Image">
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h3>Room Number: <%= @resting_place.room_number %></h3>
            <p><i>Room Description: <%= @resting_place.room_description %></i></p>
            <p><i>Bed Capacity: <%= @resting_place.bed_count %></i></p>
            <b>Price per Night: <%= @resting_place.price_per_night %>$</b>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-4">

    <div class="row justify-content-center mb-4">
      <div class="col-12 col-md-8 col-lg-6">
        <h2 class="text-center">Fill in the booking form and we'll call you back</h2>
      </div>
    </div>

    <%= render 'forms/booking_form' %>
    <%= render 'forms/reviews_form', resting_place: @resting_place %>
      
      <h3 class="reviews-title">Reviews</h3>
      
      <% @resting_place.reviews.order(created_at: :desc).each do |review| %>
        <div class="card review-card mb-3">
          <div class="card-body">
            <p><%= review.content %></p>
            <p class="text-muted"><small>by <%= review.user.email %> on <%= review.created_at.strftime("%B %d, %Y") %></small></p>
            <% if user_signed_in? && review.user == current_user %>
              <%= button_to 'Delete', { controller: 'reviews',
                                        action: 'destroy',
                                        resort_id: @resting_place.resort.id, 
                                        resting_place_id: @resting_place.id, 
                                        id: review.id }, 
                                        method: :delete, 
                                        data: { confirm: 'Are you sure?' }, 
                                        class: "btn btn-danger btn-sm" %>
            <% end %>
          </div>
        </div>
      <% end %>

  </div>
</body>
</html>